// _______________ A D M I N _________________
.title_admin {
    margin:4rem 0 0;
}

.section_grid {
    margin: 2rem 2rem 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    &_box {
        display: grid;
        justify-content: center;
        background: $gradient-grey;
        padding: 3rem;
        box-shadow: $box-shadow-light;
        border: 1px solid transparent;
        border-radius: 1rem;
        cursor: pointer;
        transition: 0.3s all linear;
        &:hover {
            background: #e7e7e7;
            border: $border-light;
            & h3 {
                color: black;
            }
        }
    }
}


// - - - - - - liste session - - - - - - 
.session_list {
    display: grid;
    gap: 2rem;
    width: 30rem;
    &_label-session {
        display: grid;
        justify-content: center;
        background: $gradient-grey;
        padding: 2rem;
        margin-bottom: .5rem;
        box-shadow: $box-shadow-light;
        border: 1px solid transparent;
        border-radius: 1rem;
        color: $color-primary-dark;
        font-weight: 800;
        font-size: 1.3rem;
        cursor: pointer;
        transition: 0.3s all linear;
        &:hover {
            background: #e7e7e7;
            border: $border-light;
        }
        &_item {
            &:first-child {
                margin-top: 1rem;
            }
            padding-top: .5rem;
            color: black;
            font-weight: 400;
            font-size: 1rem;
        }
    }
}

.section_inscription {
    margin: 2rem 0 4rem;
    padding: 3rem;
    background: $gradient-grey;
    box-shadow: $box-shadow-light;
    border: 1px solid transparent;
    border-radius: 1rem;
}