

.choix_liste_participants_item {
    display: grid;
    margin: 0;
    padding: 0;
    border: $border-light;
    border-radius: $border-rad;
    &-un {
        display: flex;
        margin: 0;
        padding: 1rem;
        line-height: 2rem;
        justify-content:space-between;
        transition: 0.1s all linear;
        border-bottom: 1px solid $color-grey-light;
        cursor: pointer;
        &:hover {
            background: $color-grey-light;
            &::after {
                content: "+";
                display: block;
                font-weight: bold;
                font-size: 2rem;
                color: $color-primary-dark;

            }
        }
    }
}
